<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- flask style lienk -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light/view.css') }}">
</head>
<body>
    <nav class="nav">
        <a class="nav-button" href="/tutorials">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
        </a>
        <h1>{{ title }}</h1>
    </nav>
    <div class="container">
        <hr>
        <h1>Step 1</h1>
        <p class="tutorial-desc">Go to <a href="https://clipboard.gg/">clipboard.gg</a></p>
        <img src="{{ url_for('static', filename='images/signup-1.png') }}" alt="clipboard.gg url">
        <hr>
        <h1>Step 2</h1>
        <p class="tutorial-desc">Click on the "Sign Up" button</p>
        <img src="{{ url_for('static', filename='images/signup-2.png') }}" alt="signup button">
        <hr>
        <h1>Step 3</h1>
        <p class="tutorial-desc">Enter your details.</p>
        <img src="{{ url_for('static', filename='images/signup-3.png') }}" alt="image of signup form.">
        <hr>
        <h1>Step 4</h1>
        <p class="tutorial-desc">Click Sign Up.</p>
        <img src="{{ url_for('static', filename='images/signup-4.png') }}" alt="image of signup form with button highlighted.">
        <hr>
        <h1>Step 5</h1>
        <p class="tutorial-desc">Done! You now have a Clipboard account.</p>
        <img src="{{ url_for('static', filename='images/signup-5.png') }}" alt="image of homepage.">
        <hr>
        <div class="button-panel"><a class="button">Previous</a><a class="button">Next</a></div>
        
    </div>
    <div class="container"></div>
</body>
</html>