
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clipboard</title>
    <!-- flask style lienk -->
    {% if dark %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark/index.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light/index.css') }}">
    {% endif %}
</head>
<body>
    <nav class="nav">
        <a class="nav-button" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
        </a>
        <h1>Archive</h1>
    </nav>
    <div class="container-container">
        <div class="container">
            {% for widget in widgets %}
            <a class="widget" href="/archive/view/{{ widget['_id'] }}">
                <h1>{{ widget['date'] }}</h1>
                <p>{{ widget['managers'] }}</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                </svg>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>