<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clipboard</title>
    <!-- flask style lienk -->
    {% if dark %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark/signup.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light/signup.css') }}">
    {% endif %}
</head>
<body>
    <nav class="nav">
        <a class="nav-button" href="/create">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
        </a>
        <h1>Create Post - FA</h1>
    </nav>
    <div class="container">
        <form action="/create/fa" method="post">
            <input class="input" type="text" name="managers" placeholder="Manager(s)"><br>
            <input class="input" type="text" name="oepe" placeholder="OEPE"><br>
            <input class="input" type="text" name="sta" placeholder="STA Status"><br>
            <input class="input" type="text" name="waste" placeholder="Waste"><br><br><br>
            <input class="input" type="text" name="running" placeholder="Running"><br>
            <input class="input" type="text" name="presenting" placeholder="Presenting"><br>
            <input class="input" type="text" name="ot" placeholder="Order Taking"><br>
            <input class="input" type="text" name="cod2" placeholder="Cod 2"><br>
            <input class="input" type="text" name="cash" placeholder="Caching"><br>
            <input class="input" type="text" name="fries" placeholder="Fries"><br>
            <input class="input" type="text" name="counter" placeholder="Counter"><br>
            <input class="input" type="text" name="dd-dt" placeholder="DT Drink Draw"><br>
            <input class="input" type="text" name="dd-fc" placeholder="FC Drink Draw"><br>
            <input class="input" type="text" name="cafe" placeholder="Cafe"><br>
            <input class="input" type="text" name="host" placeholder="Kiosk Host"><br><br><br>
            <input class="input" type="text" name="highlights" placeholder="Highlights & Opportunities"><br>
            <input class="input" type="text" name="feedback" placeholder="Feedback"><br>
            <input class="inp-sub" type="submit" name="submit" value="Create">
        </form>
    </div>
</body>
</html>