<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clipboard</title>
    <!-- flask style lienk -->
    {% if dark %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark/signup.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light/signup.css') }}">
    {% endif %}
</head>
<body>
    <nav class="nav">
        <a class="nav-button" href="/create">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
        </a>
        <h1>Create Post - Training</h1>
    </nav>
    <div class="container">
        <form action="/create/tr" method="post">
            <input class="input" type="text" name="managers" placeholder="Manager(s)"><br>
            <input class="input" type="text" name="sta" placeholder="STA Status"><br><br><br>
            <input class="input" type="text" name="trainee1" placeholder="Trainee"><br>
            <input class="input" type="text" name="strengths1" placeholder="Strengths"><br>
            <input class="input" type="text" name="weaknesses1" placeholder="Weaknesses"><br>
            <input class="input" type="text" name="feedback1" placeholder="Feedback"><br><br><br>
            <input class="input" type="text" name="trainee2" placeholder="Trainee"><br>
            <input class="input" type="text" name="strengths2" placeholder="Strengths"><br>
            <input class="input" type="text" name="weaknesses2" placeholder="Weaknesses"><br>
            <input class="input" type="text" name="feedback2" placeholder="Feedback"><br><br><br>
            <input class="input" type="text" name="overview" placeholder="Overview"><br>
            <input class="inp-sub" type="submit" name="submit" value="Create">
        </form>
    </div>
</body>
</html>