<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clipboard</title>
    <!-- flask style lienk -->
    {% if dark %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark/signup.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light/signup.css') }}">
    {% endif %}
</head>
<body>
    <nav class="nav">
        <a class="nav-button" href="/profile">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
        </a>
        <h1>Invite</h1>
    </nav>
    <div class="container" style="display: grid;">
        <h2>{{ code }}</h1>
        {% if valid %}
            <p>*Send this code to someone so they can create an account. <br>This code will expire in 48 hours. Refreshing the page will make the code unrecoverable.</p>
        {% endif %}
    </div>
</body>
</html>