
:root {
    --white: #FFFFFF;
    --black: #000000;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    margin: auto 2rem auto 0;
    /* margin-bottom: 0.5rem; */
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background: var(--white);
    border-bottom: 3px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.nav-button {
    position: absolute;
    top: 0;
    left: 20px;
    color: var(--black);
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-button svg {
    width: 2.5rem;
    stroke-width: 2px;
    border: 3px solid var(--black);
    color: var(--black);
    background: var(--white);
}

.nav-button svg:hover {
    cursor: pointer;
    color: var(--white);
    background: var(--black);
}


.trash-button {
    position: absolute;
    top: 0;
    right: 20px;
    color: var(--black);
    height: 100%;
    display: flex;
    align-items: center;
}

.trash-button svg {
    width: 2.5rem;
    stroke-width: 2px;
    border: 3px solid var(--black);
    color: var(--black);
    background: var(--white);
}

.trash-button svg:hover {
    cursor: pointer;
    color: var(--white);
    background: var(--black);
}


.share-button {
    position: absolute;
    top: 0;
    right: calc(20px + 2.5rem + 2px);
    color: var(--black);
    height: 100%;
    display: flex;
    align-items: center;
}

.share-button svg {
    width: 2.5rem;
    stroke-width: 2px;
    border: 3px solid var(--black);
    color: var(--black);
    background: var(--white);
}

.share-button svg:hover {
    cursor: pointer;
    color: var(--white);
    background: var(--black);
}

.widget {
    position: relative;
    width: 311px;
    height: 142px;
    background: var(--white);
    
    border: 3px solid var(--black);
}

.widget :is(p, h1) {
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    margin-top: .5rem;
    max-width: 245px;
}

.widget p {
    font-size: 1.2rem;
}

.widget h1 {
    margin-top: 2rem;
}

.widget svg {
    width: 2.5rem;
    float: right;
    margin-right: .4rem;
    transform: translate(-.6rem, -.6rem);
}

.widget:hover {
    cursor: pointer;
    background: var(--black);
    color: var(--white);
}

.special-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed var(--black);
}

.special-widget :is(p, h1) {
    line-height: 0;
    margin: 0;
}

.container {
    margin-top: calc(80px + 2rem);
    display: grid;
    justify-content: center;
}

/* .container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    justify-content:center;
    margin: auto;
}

.container div {
    margin: 1rem;
} */

.input {
    width: 100%;
    height: min-content;
    border: 3px dashed var(--black);
    padding: 0.5rem;
    max-width: 25rem;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    margin-top: 0.5rem;
}

.input::placeholder {
    text-align: center;
    color: var(--black);
}

.inp-sub {
    width: 50%;
    height: 2rem;
    border: 3px solid var(--black);
    background-color: var(--white);
    padding: 0.5rem;
    max-width: 25rem;
    font-size: 2rem;
    color: var(--black);
    height: min-content;
}

input {
    margin-bottom: 1.5rem;
}

.inp-sub:hover {
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}

h3 {
    margin-top: 0;
    font-weight: 300;
}